@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #efefef;
    background: #16161e;
  }
  .styled-checkbox {
    position: absolute;
    opacity: 0;
    padding-left: 3px;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: '';
    transition: background-color 0.3s ease;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background-color: #262635;
    border-radius: 0.2rem;
  }
  .styled-checkbox:checked + label:before {
    transition: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background: rgb(34 197 94);
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: cursor;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 1em;
    height: 1em;
    background-image: url(../../public/assets/tick.svg);
  }
}

@media (prefers-color-scheme: light) {
  .styled-checkbox {
    position: absolute;
    opacity: 0;
    padding-left: 3px;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: '';
    transition: background-color 0.3s ease;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background-color: #efefef;
    border-radius: 0.2rem;
  }
  .styled-checkbox:checked + label:before {
    transition: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background: rgb(34 197 94);
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: cursor;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 1em;
    height: 1em;
    background-image: url(../../public/assets/tick.svg);
  }
}

@layer components {
}
